@media screen and (max-width: 1023px){
	header{
		height: 200px;
	}

	header .content{
		display: flex;
		flex-direction: none;
		flex-wrap: nowrap;
	}

	header .logo{
		width: 100px;
		height: 100px;
	}

	header .logo img{
		width: 100px;
		height: 100px;
	}

	header .sections a{
		font-size: 60px;
	}

	section .content{
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
	}

	.home{
		width: 100%;
		height: 1200px;
	}

	.home .titleHome{
		width: 100%;
		height: 600px;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		overflow: hidden;
		gap: 20px;
	}

	.home .titleHome h1{
		font-size: 120px;
		margin: 0;
	}

	.home .titleHome p{
		width: 80%;
		height: 200px;
		font-size: 40px;
		margin: 0 auto;
	}

	.home .imageHome{
		width: 100%;
		height: 500px;
	}

	.home .titleHome .post{
		display: none;
	}

	#About{
		height: 1200px;
	}

	#About .info{
		height: auto;
	}

	#About .info, #About .info .socialNetwork{
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	#About .info .socialNetwork{
		height: 60px;
	}

	#About .info .socialNetwork a{
		font-size: 45px;
		width: 45px;
		height: 45px;
	}

	#About .info .socialNetwork a img{
		width: 45px;
		height: 45px;
	}

	.work h2, #About .info h2{
		font-size: 110px;
		margin-top: 50px;
	}

	#About .info p{
		width: 100%;
		font-size: 40px;
	}

	#About .info h4{
		font-size: 80px;
		margin-top: 50px;
	}
}
